- var fontUri = "https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@300;400&family=Roboto:wght@700&family=Roboto+Mono:wght@300;400;600&display=swap";

head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="shortcut icon", href="static/images/favicons/favicon.ico", type="image/x-icon")
  // Fonts
  link(rel="preconnect", href="https://fonts.googleapis.comm")
  link(rel="preconnect", href="https://fonts.gstatic.com")
  link(rel="stylesheet", href=fontUri)
  // Icons
  link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Material+Icons")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Material+Icons+Round")
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous")
  link(rel="stylesheet", href="static/icons/icon-moon/style.css")
  // Reset
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css")
  // Custom Style
  link(rel="stylesheet", href="main.css")
  title MarskDev - Portafolio Marcial Ambriz