@import 'variables';

/*    ||  UTILITIES     */

.theme {
  background: $dark-base;
  color: $slate;
}

.gradient-t {
  background-image: $gradient;
  color: transparent;
  -webkit-background-clip: text;
}

.headline {
  color: $lightest-slate;
  font-size: $fs-xl;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: 2.5rem;
}

.overline {
  font-family: $font-overline;
  font-size: $fs-sm;
  font-weight: 600;
  line-height: 1.2;
}

.btn {
  font-weight: bold;
  background-color: $primary;
  border: 3px solid $primary;
  border-radius: $border-radius;
  color: $base;
  display: inline-block;
  font-family: $font-overline;
  font-size: $fs-sm;
  line-height: 1;
  // padding: 1.2rem 1.7rem; Desktop
  padding: 1rem 1.5rem;
  transition: transform .5s, box-shadow .5s;
  &:hover {
    box-shadow: $light-box-shadown;
    transform: scale(1.02, 1.02);
  }
}

.btn--outlined {
  background-color: transparent;
  color: $primary;
  transition: transform .5s, box-shadow .5s, background .5s;
  &:hover {
    background-color: $primary;
    color: $base;
  }
}

/*    ||  HEADER     */
.logo {
  margin: 0;
  font-weight: 900;
  font-size: $fs-xl;
  color: $lightest-slate;
  &--top {
    position: absolute;
    left: 1.25rem;
    top: 1.25rem;
  }
}

.content {
  padding: 0 1.25rem;
}